<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/welcome.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Marvel" />
        <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
        <title> UGANutrition - Welcome </title>
    </head>
    <body>
        <div class="welcomeBanner">
            <h1 class="first">UGA</h1>
            <h1>NUTRITION</h1>
        </div>
        <div class="verticalForm">
            <h1 class="vFormLabel"> Lets get back to business. </h1>
            <h1 class="vFormHead">Email</h1>
            <input type="text" class="textInput"/>
            <h1 class="vFormHead">Password</h1>
            <input type="text" class="textInput"/>
            <div class="buttonGroup">
                <button type="button" id="butt1">Back</button>
                <button type="button" id="butt2">Login</button>
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>




        <br>
        <br>
        <br>
        <br>


        <br>
        <br>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
                <br>
        <br>        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </body>
</html>